body {
    font-family: 'Fira Mono', monospace;
}
.container {
    display: flex;
    margin: auto;
    <!--margin-top: 30px;-->
    width: 93%;
}

.left-header {
    width: 80%;
    display: flex;
}
.right-header {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.header-menu > li {
    margin-left: 24px;
}
ul.header-menu {
    margin-top: 7%;
    margin-right: 8%;
}
img.first {
    margin-top: 2%;
    margin-left: 4%;
    width: 17%;
}
h1.fh1 {
    margin-top: 12%;
}

a {
    text-decoration: none;
    color: black;
}
.header-menu > li a:hover{
    color: red;
}
.greeting {
    width: 75%;
}
h1, h2 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 23px;
    margin-left: 2%;
    text-align: center;
}
h1 {
    margin-top: 2%;
}
.heading {
    margin: auto;
}

h2 {
    margin-top: 9%;
}
.abs1 {
    display: flex;
}
.abs2, .abs3, .list, .listend {
    display: flex;
    margin-top: 3%;
    justify-content: center;
}
.listend {margin-bottom: 3%;}
img.imgright, img.gendalf {
    margin-right: 2%;
}
img.gendalf {
    width: 21%;
}

.abs1, .header1 {
    background-color: rgba(255,230,178, 0.5);
}
.abs2, .header2 {
    background-color: rgba(100,149,237, 0.5);
}
.abs3, .header3 {
    background-color: rgba(0,230,0, 0.4);
}

p {
    margin: auto;
}
p.p1, p.p2, .hapblock {
    font-weight: 500;
    width: 70%;
    padding: 2.5%;
}

img.imglist {
    width: 23%;
    margin-left: 3%;
    margin-right: 3%;
}

h2.title {
    margin-top: -1%;
    margin-bottom: 1.5%;
}

img.madsmile {
    width: 15%;
    margin-left: 4%;
}

img.taganrog {
    width: 19%;
    margin-left: 2%;
    margin-bottom: 3%;
}
.hapblock {
    margin: auto;
}